@tailwind base;
@tailwind components;
@tailwind utilities;

#plugin--ssrfind {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
}

#plugin--ssrfind * {
  box-sizing: border-box;
}

#plugin--ssrfind ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#plugin--ssrfind ::-webkit-scrollbar-track {
  background: transparent;
}

#plugin--ssrfind ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

#plugin--ssrfind ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
